.carouselShoe {
   background-color: $color-5;
    
    .carouselIfor {
        @include textSize($color-4, $fs-1, $fw-2);
    }
    #carouselExampleCaptions {
        .carousel-indicators li {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin: $mg-1;
        }
    }
}
.service__item{
    text-align: center;
}
.shoe-carousel-img img{
    display: inline-block;
    max-width: 100%;
}
.shoe-carousel-qui{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.shoe-carousel-qui img{
    width: 50%;
}