//color
$color-1: #28a745;
$color-2: #ffafbd;
$color-3: #B3FFAB;
$color-4: #12FFF7;
$color-5: #85FFBD;
$color-6: #FFFB7D;
$color-7: #121212;
//Font size
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 40px;
$fs-4: 24px;
$fs-5: 30px;
//Font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;
//Padding
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 25px;
$pd-4: 40px;
$pd-5: 50px;
$pd-6: 100px;
//Margin
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 25px;
$mg-4: 30px;
$mg-5: 20
