//color
$color-1: #FF6000;
$color-2: #cacaca;
$color-3: #B3FFAB;
$color-4: #FFFFFF;
$color-5: #bebebe;
$color-6: #454545;
$color-7: #121212;
$color-8:#f0f0f0;
$color-9 : #e0e0e0;
//Font size
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 40px;
$fs-4: 24px;
$fs-5: 30px;
//Font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;
//Padding
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 25px;
$pd-4: 40px;
$pd-5: 50px;
$pd-6: 100px;
//Margin
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 25px;
$mg-4: 30px;
$mg-5: 20px;
// Background
$background-1: #24b4fb;
$background-2: #0071e2;
//Border
$boder-1: 10px;
$boder-2: 8px;
$boder-3: 12px;


